
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item active">
        <h5><a class="nav-link link-primary" href="/">Home</a></h5>
      </li>
      
      <li class="nav-item">
        <h5><a class="nav-link link-success" href="/add">Add New</a></h5>
      </li>

      <li class="nav-item">
        <h5><a class="nav-link link-info" href="/login">{{linkVal}}</a></h5>
      </li>

    </ul>
  </div>

</nav>


<router-outlet></router-outlet>