<html>
    <head>
        <title>Home</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <ul>
        <h2>
            <li><a href="/singleFile" class="link-primary" style="text-decoration:none">Single File Upload</a><br/></li>
            <li><a href="/multiFiles" class="link-danger" style="text-decoration:none">Multiple Files Upload</a></li>
        </h2>
        </ul>
     </body>
</html>